
.card__container{
  background: #1A1B21;
  width:317px;
  margin: 0 auto;
  height:100vh;
  margin-top: 30px;
}
.card__cover-img{
  width:317px;
  border-radius:  10px 0px 0px;
}
.card__info-sub{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1A1B21;
}
.card__Title{
  color:#ffffff;
  font-weight: 700;
  font-size: 25px;
  margin-top: 5px;
}
.card__desc{
  color:#F3BF99;
  font-weight: 400;
  font-size: 12.8px;
  margin-top: -20px;
}
.card__website{
  color:#F5F5F5;
  font-size: 10.24px;
  font-weight: 400;
  margin-top: -20px;
}
.card__button{
  display:flex;
  justify-content:space-evenly;
}
.card__about{
  color:#F5F5F5;
  font-size: 16px;
  font-weight: 700;
}
.about{
  padding:27px;
  margin-top: -25px;
}
.card__about-desc{
  color: #DCDCDC;
  font-size: 10.24px;
  font-weight: 400;
  margin-top: -15px;
}
.interest{
  padding:27px;
  margin-top: -45px;
  background-color: #1A1B21;
}
.card__interest{
  color:#F5F5F5;
  font-size: 16px;
  font-weight: 700;
}
.card__interest-desc{
  color: #DCDCDC;
  font-size: 10.24px;
  font-weight: 400;
  margin-top: -15px;
  width:247px;
}
.card__footer{
  background: #161619;
  border-radius: 0px 0px 10px 10px;
  height:64px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: -30px;
}
a:hover{
    transform:translateY(-2px);
    transition: all 2s ease;
}